

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
:root {
    --sm: 6px;
    --sd: 12px;
    --md: 16px;
    --lg: 24px;
    --xl: 40px;
    --xxl: 50px;
    --extralarge:70px;
    --primary: #15803d;
    --light-primary:#22C55E;
    --primary-dark: #214f39;;
    --light:#e8f5e9;
    --yellow:#f4b400;
    --light-background: #f5f5f5;
    --gray:#4a5e55;
    --light-gray:#d3d3d3;
    --white: whitefff;
    --text: #222;
    --text-light: #4b5563;
    --border: #e5e7eb;
    --shadow:
        0 4px 12px rgba(0,0,0,0.08);
    --shadow-hover:
        0 8px 24px rgba(0,0,0,0.15);
        --danger:red;
        --black:#000;
    --radius-sm:6px;
    --radius-md:10px;
    --radius-lg:16px;
 --primary-light: #fff0f1;
            --text-dark: #2d3748;
            --text-muted: #718096;
            --bg-body: #f4f6f9;
            --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
        }


body {
  
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #f8faf8c0, #eefbf1b7);
  
}



h1 {
    font-size: 48px;
    font-weight: 700;
  
}


h2 {
  
   font-size: 36px; 
   line-height: 1.3; 
   margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: var(--md);
}

p {
    font-size: var(--md);
    font-weight: 400;
    color: var(--text-light);
    line-height: 1.8;
    
}



header{
    position:fixed;
    background: var(--light);
    border-bottom: 1px solid var(--border);
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    padding: var(--sd) var(--extralarge);
    box-shadow:var(--shadow);
    align-items:center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 0%;
}



.logo{

    width: 150px;
    height: auto;

}



















.nav-links{

    display:flex;
    align-items:center;
    gap:var(--xl);

    list-style:none;
}

.nav-links li{

    position:relative;
}

.nav-links a{

      color: var(--black);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
}

.nav-links a:hover{

    color:var(--primary);
}


.dropdown-menu{

    position:absolute;
    left:0;
    width:220px;
    background:#fff;
    border-radius:12px;
    list-style:none;
    padding:10px 0;
    display:none;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    z-index:1000;
}

.dropdown:hover .dropdown-menu{

    display:block;
}

.dropdown-menu li{

    width:100%;
}

.dropdown-menu a{

    display:block;
    padding:12px 18px;
}

.dropdown-menu a:hover{

    background:var(--light-background);
}





















.checkout-container{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:100px;
    align-items:start;
    padding: var(--extralarge);

}


.checkout-left{

    display:flex;
    flex-direction:column;
    gap:70px;

}


.checkout-right{
    position:sticky;
    top:120px;

}


.checkout-card,
.summary-card{

    background:white;
    border-radius:var(--radius-lg);
    box-shadow:var(--shadow);
    padding:40px;


}



.card-title{
    display:flex;
    align-items:center;
    gap:12px;
    

}
.card-title h2{
  margin:0;
}

.card-title i{
    font-size:24px;
    color:var(--primary);

}













.footer {
    background: var(--light);
    padding: 50px var(--extralarge) ;
    box-shadow: var(--shadow);
  
}




.footer-icons {
  display: flex;
 
  gap:var(--sd);
}

.footer-icons a {
    width: var(--xl);
    height: var(--xl);
    border-radius: 50%;
    background: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  
}

.footer-icons a i {
    font-size: var(--md);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer-icons a:hover {
    background: var(--primary);

 
}


.border-line {
    width: 80%;
    height: 2px;
    background: var(--border);
    margin: var(--md) auto;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--xl);
    align-items: start;
    
}



.footer-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    min-width: 0;
}


.footer-col a,
.footer-col p {
    display: block;
    color:var(--text);
    text-decoration: none;
    margin-bottom: var(--sm);
    font-size: 16px;
    max-width: 230px;
    line-height: var(--lg);

}

.footer-col a:hover {
  color: var(--primary);
}


.iframe {
    width: 100%;
    height: 180px;
    border: 0;
    border-radius: var(--radius-md);
}

.footer-bottom {
    text-align: center;
    font-size:var(--md);
    color: var(--text);
   
}
.footer-bottom p{
    margin-bottom: 0px;
}

















.input-grid{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    gap:20px;
    column-gap:20px;   
    margin-top:20px;
}

.input-box{
    grid-column:span 3;
    display:flex;
    flex-direction:column;
    min-width:0;
}

.input-box.full{
    grid-column: 1 / -1;
}

.input-box.small{
    grid-column: span 2;
}

.input-box label{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 6px;
}

.input-box input,
.input-box select{
    width:100%;
    height:50px;
    padding:0 15px;
    border:1px solid var(--border);
    border-radius:10px;
    outline:none;
    font-size:15px;
    transition:0.2s;
    box-sizing:border-box;
}

.input-box input:focus,
.input-box select:focus{
    border-color: var(--primary);
}

input{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:6px;
    outline:none;
    transition:0.2s;
    box-sizing:border-box;
}

input:focus, select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76,175,80,0.3);
}

select{
    color: #000;
}

select option{
    color: #000;
}

select{
    width:100%;
    height:50px;
    padding:0 45px 0 16px;

    border:1px solid #ddd;
    border-radius:10px;
    box-sizing:border-box;
    font-size:16px;
    color:var(--black);
    background:white;

    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;

    cursor:pointer;
}


.input-box.small,
.input-box.full{
    position:relative;
}

.input-box.small i{
    position: absolute;
    right: 20px;
    top: 58%;
    font-size: 14px;
    color: #666;
}

.input-box.full i{
    position: absolute;
    right: 20px;
    top: 61%;
    font-size: 14px;
    color: #666;
}



























.place-order-btn {
    width: 100%;
    padding: 14px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.place-order-btn:hover {
    background: var(--primary-dark);
}





.input-grid small {
    color: var(--danger);
    font-size: 13px;
    margin-top: 5px;
    display: block;
}
  



.input-box input,
.input-box select {
    transition: 0.3s;
}

input:focus, select:focus {
    outline: none;
}











.checkout-item{
    display: flex;
    gap: 15px;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.item-left{
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.item-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    flex-shrink: 0;
}
.remove-item{
    border: none;
    background: #ffecec;
    color: #e53935;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.remove-item:hover{
    background: #e53935;
    color: #fff;
}
.item-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-name{
  font-size: 16px;
    color: #222;
    line-height: 1.35;
}

.item-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-qty{
    font-size: 16px;
    color: #777;
}

.item-price{
    font-size: 16px;
    font-weight: 500;
    color: #111;
}























.delivery-options{
    display:flex;
    flex-direction:column;
    gap:18px;

}

.delivery-option{
    display:flex;
    align-items:center;
    gap:18px;
    padding:18px 20px;
    border:1px solid var(--border);
    border-radius:var(--radius-md);
    cursor:pointer;
    transition:.3s;

}

.delivery-option:hover{
    border-color:var(--primary);
    background:var(--light);

}

.delivery-option input{
    width:18px;
    height:18px;
    accent-color:var(--primary);

}

.delivery-info{
    flex:1;

}

.delivery-info h3{
    font-size:17px;
    color:var(--text);
    margin-bottom:4px;

}

.delivery-info p{
    font-size:14px;

}

.delivery-price{
    font-weight:700;
    color:var(--primary);

}









.payment-methods {
    display: flex;
    flex-direction: column;
        padding-top: 20px;
    gap: 15px;
}

.payment-option {
    position: relative;
    display: block;
    cursor: pointer;
}

.payment-option input {
    position: absolute;
    opacity: 0;
}

.payment-content {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px 18px;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    background: white;
    transition: all 0.3s ease;
}



.payment-option input:checked + .payment-content {
    border-color:var(--primary);
    background: white;
    box-shadow: var(--shadow);
}

.payment-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #f1f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-icon i {
    font-size: 22px;
    color: var(--primary-dark);
}

.payment-text h4 {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    margin-bottom: 4px;
}







.payment-option input:checked + .payment-content::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: var(--primary-dark);
    border-radius: 50%;
}


.summary-card h2{
    font-size:28px;
    margin-bottom:25px;
    color:var(--text);

}

.summary-card hr{
    margin:22px 0;
    border:none;
    border-top:1px solid var(--border);

}



#checkout-products{
    display:flex;
    flex-direction:column;

}




.coupon-box{

    display:flex;
    gap:10px;

}

.coupon-box input{
width: 100%;
    padding: 14px 16px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    font-size: 16px;
    outline: none;

}

.coupon-box button{

    padding:0 24px;
    border:none;
    border-radius:var(--radius-md);
    background:var(--primary);
    color:white;
    cursor:pointer;
    font-weight:600;
    transition:.3s;

}

.coupon-box button:hover{

    background:var(--primary-dark);

}




.price-row{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:14px;

}

.price-row span:first-child{
    color:var(--text-light);
}

.price-row span:last-child{
    font-weight:600;
    color:var(--text);

}

.price-row.total{
    font-size:20px;
    font-weight:700;

}

.price-row.total span{

    color:var(--primary);

}


.checkout-product{

    display:flex;
    align-items:center;
    gap:15px;
    padding:15px 0;
    border-bottom:1px solid var(--border);

}

.checkout-product:last-child{
    border-bottom:none;

}

.checkout-product img{

    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:var(--radius-md);

    background:var(--light);

}

.product-details{
    flex:1;

}

.product-details h4{
    font-size:16px;
        font-weight: 500;

    color:var(--text);
    margin-bottom:6px;

}

.product-details p{
    font-size:14px;
    line-height:22px;

}

.product-price{
    font-weight:700;
    color:var(--primary);
    font-size:18px;

}






.delivery-info-box{

    display:flex;
    align-items:center;
    gap:15px;
    margin-top:25px;
    padding:18px;
    border-radius:var(--radius-md);
    background:var(--light);

}

.delivery-info-box i{

    font-size:28px;
    color:var(--primary);

}

.delivery-info-box h4{
    margin-bottom:4px;
    color:var(--text);
        font-weight: 500;


}



.secure-payment{

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin:25px 0;
    padding:14px;
    border-radius:var(--radius-md);
    background:#eefaf1;
    color:var(--primary);
    font-weight:600;

}

.secure-payment i{

    font-size:18px;

}



.place-order-btn{
    width:100%;
    height:56px;
    border:none;
    border-radius:var(--radius-md);
    background:var(--primary);
    color:white;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    transition:.3s;
    box-shadow:var(--shadow);

}

.place-order-btn:hover{
    background:var(--primary-dark);
    transform:translateY(-3px);
    box-shadow:var(--shadow-hover);

}























 .card{
      background:white;
      padding:50px 70px;
      border-radius:20px;
      text-align:center;
      width:450px;
      box-shadow:0 10px 30px rgba(0,0,0,0.1);
    }

    .card-icon{
      width:90px;
      height:90px;
      background:var(--primary);
      border-radius:50%;
      display:flex;
      justify-content:center;
      align-items:center;
      margin:0 auto 20px;
    }

    .card-icon i{
      color:white;
      font-size:40px;
    }

  .btn{
        display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--xl);
  }

    .continue-btn{
      margin-top:25px;
      padding:10px 20px;
      border:none;
      width: 240px;
      background:var(--primary);
      color:white;
      border-radius:8px;
      font-weight: 600;
      cursor:pointer;
      font-size:20px;
    }

    .continue-btn:hover{
      background:var(--primary-dark);
    }







.pay-overlay,
.success-overlay{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.success-overlay{
    display:none;
}


.pay-box{

    width:360px;
    background:white;
    border-radius:15px;
    padding:35px;
    text-align:center;
}

.pay-box h1{
    margin:15px 0;
}

.pay-btn{

    width:100%;
    padding:14px;

    border:none;
    border-radius:8px;

    background:#2f80ed;
    color:white;

    font-size:18px;
    cursor:pointer;
}


.success-box{

    width:430px;

    background:white;

    border-radius:12px;

    padding:25px;

    text-align:center;

    position:relative;

    animation:popup .3s ease;
}

@keyframes popup{

    from{

        transform:scale(.8);
        opacity:0;
    }

    to{

        transform:scale(1);
        opacity:1;
    }

}

.close-success{

    position:absolute;
    top:15px;
    right:18px;

    cursor:pointer;
    font-size:15px;
}

.success-icon{

    width:90px;
    height:90px;

    border-radius:50%;

    background:var(--primary);

    color:white;

    margin:0 auto 20px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:55px;
}

.success-box h1{

    margin-bottom:12px;
}

.success-box p{

    color:#555;
    line-height:24px;
}

.order-info{

    background:#f5f5f5;

    border-radius:10px;

    padding:15px;

    margin:20px 0;
}

.view-order-btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    background:#2f80ed;

    color:white;

    font-size:17px;

    cursor:pointer;
}














.popup-overlay{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);

    display:none;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.pay-popup{

        width:340px;

        background:white;

        border-radius:18px;

        padding:28px 24px;

        position:relative;

        text-align:center;

        box-shadow:0 15px 40px rgba(0,0,0,.18);

        animation:popup .35s ease;
}

@keyframes popup{

from{

    transform:translateY(20px) scale(.9);
    opacity:0;

    }

    to{

    transform:translateY(0) scale(1);
    opacity:1;

}

}

.close-popup{

    position:absolute;

    right:18px;

    top:18px;

    font-size:20px;

    color:#888;

    cursor:pointer;
}

.pay-icon{

    display:flex;

    justify-content:center;

    margin-bottom:18px;

}

.icon-circle{

    width:72px;

    height:72px;

    border-radius:50%;

    background:#eef9f1;

    display:flex;

    align-items:center;

    justify-content:center;

    position:relative;
}

.icon-circle .fa-shield{

    font-size:33px;

    color:var(--primary);
}

.check-circle{

    position:absolute;

    width:24px; 

    height:24px;
    top: 31%;       
    background:var(--primary);

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

    font-size:12px;
}



.method-name span{

    color:var(--primary);
    font-weight:600;
}

.pay-popup hr{

    border:none;
    border-top:1px dashed #ddd;
    margin:18px 0;
}

#paymentAmount{

    font-size:48px;
    font-weight:700;
    color:var(--primary);
    margin-bottom:13px;
}

.pay-btn{
    width:100%;
    height:54px;
    border:none;
    border-radius:10px;
    background:var(--primary);
    color:white;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    transition:.3s;
}

.pay-btn:hover{

background:var(--primary-dark);
}

.secure-text{

    margin-top:18px;
    font-size:13px;
    color:#888;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:6px;
}





.loader-box{
    width: 400px;
    background: #fff;
    border-radius: 24px;
    padding: 45px 35px;
    text-align: center;
    box-shadow: 0 25px 60px rgba(0,0,0,.18);
}

.loader{
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loader::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 6px solid #ECEEF3;
}

.loader::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: var(--primary);
    border-right-color: var(--primary);
    animation: rotateLoader 1.2s linear infinite;
}

.loader i{
    width: 50px;
    height: 50px;
    background: #EAF8EF;
    color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:36px;
    box-shadow: 0 0 0 10px rgba(34,197,94,.12);
    z-index: 2;
}

.loader-box h2{
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #1F2A44;
}

.loader-box p{
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.6;
    color: #7A7A7A;
}

@keyframes rotateLoader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



.order-details{
    background:#f5f5f5;
    padding:15px;
    border-radius:10px;
    margin:20px 0;
}

.upi-popup{
    width:360px;
    background:white;
    border-radius:18px;
    padding:28px;
    position:relative;
    box-shadow:0 20px 45px rgba(0,0,0,.15);
    animation:popup .35s ease;
    font-family:'Poppins',sans-serif;

}

.upi-logo{

    display:flex;
    justify-content:center;
    margin-bottom:12px;

}

.upi-circle{

    display:flex;
    align-items:center;
    justify-content:center;

}

.upi-circle img{

    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.upi-popup h2{

    text-align:center;
    font-size:24px;
    font-weight:700;
    margin:10px 0 18px;

}

.divider{

    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:18px;

}

.divider .line{

    flex:1;
    height:2px;
    border-top:1px dashed #ddd;
    width: 0px;
 
    background: none;
    border-radius: 0px;
   

}

.divider i{

    color:var(--primary);
    font-size:15px;

}

.upi-label{
    display:block;
    font-weight:600;
    font-size:15px;
    margin-bottom:8px;

}

.upi-input-box{
    display:flex;
    align-items:center;
    border:1px solid #ddd;
    border-radius:8px;
    overflow:hidden;
    margin-bottom:8px;

}

.upi-user{

    width: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--primary);
    font-size: 18px;

}

.upi-input-box input{

    flex:1;
    box-shadow: none;
    border:none;
    outline:none;
    padding:14px;
    font-size:15px;

}

.upi-info{

    display:flex;
    align-items:center;
    gap:6px;
    font-size:13px;
    color:#777;
    margin:10px 0 22px;

}

.upi-pay-btn{

    width:100%;
    height:54px;
    background:var(--primary);
    color:white;
    border:none;
    border-radius:8px;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    transition:.3s;

}

.upi-pay-btn:hover{

    background:var(--primary-dark);

}

.upi-secure{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    margin-top:22px;
    font-size:14px;
    color:#666;

}

.upi-secure i{

    color:var(--primary);

}





.modern-card-popup{

    width:360px;
    background:white;
    border-radius:18px;
    padding:30px;
    position:relative;
    box-shadow:0 18px 45px rgba(0,0,0,.18);
    animation:popup .3s;
}

.popup-icon{

    width:70px;
    height:70px;
    border-radius:50%;
    background:#ebfaf2;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    margin-bottom:18px;
}

.popup-icon i{

    font-size:30px;
    color:var(--primary);
}

.modern-card-popup h2{

    text-align:center;
    margin-bottom:28px;
    font-size:34px;
    font-weight:700;
}

.input-group{

    margin-bottom:18px;
}

.input-group label{

    display:block;
    margin-bottom:8px;
    font-weight:600;
    font-size:14px;
}
.error {
    color: var(--danger);
    font-size: 13px;
    margin-top: 5px;
    display: block;
}
.input-wrapper{

    display:flex;
    align-items:center;
    border:1px solid #d8d8d8;
    border-radius:8px;
    padding:0 14px;
    height:50px;
    background:white;
}

.input-wrapper i{

    color:#777;
    font-size:18px;
}

.input-wrapper input{

    flex:1;
    box-shadow: none;
    border:none;
    outline:none;
    font-size:15px;
    padding-left:12px;
    background:transparent;
}

.two-input{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;
}

.eye-icon{

    cursor:pointer;
}

.modern-pay-btn{

    width:100%;
    height:54px;
    border:none;
    border-radius:8px;
    background:var(--primary);
    color:white;
    font-size:20px;
    font-weight:600;
    margin-top:10px;
    cursor:pointer;
    transition:.3s;
}

.modern-pay-btn:hover{
    background:var(--primary-dark);
}

.payment-note{

    margin-top:22px;
    text-align:center;
    color:#777;
    font-size:13px;
}

.payment-note i{

    color:var(--primary);
    margin-right:5px;
}

.close-popup{

    position:absolute;
    top:16px;
    right:20px;
    font-size:20px;
    cursor:pointer;
}





































/*    Laptop (1024px - 1200px) */
@media (max-width:1200px){

header{
    padding:12px 40px;
}

.checkout-container{
    gap:50px;
    padding:40px;
}

.footer{
    padding:40px;
}

.footer-container{
    gap:30px;
}

.card,
.summary-card,
.checkout-card{
    padding:30px;
}

}


/*   Tablet (768px - 1023px) */
@media (max-width:1023px){

header{
    padding:12px 25px;
}

.checkout-container{
    grid-template-columns:1fr;
    gap:40px;
    padding:30px;
}

.checkout-right{
    position:static;
}

.input-grid{
    grid-template-columns:repeat(2,1fr);
}

.input-box,
.input-box.small,
.input-box.full{
    grid-column:span 2;
}

.progress-wrapper{
    flex-wrap:wrap;
}

.footer{
    padding:40px 25px;
}

.footer-container{
    grid-template-columns:repeat(2,1fr);
}

.card,
.summary-card,
.checkout-card{
    padding:25px;
}

.popup-box,
.payment-box,
.loader-box,
.success-box,
.pay-box{
    width:90%;
}

}


/*  Mobile (481px - 767px) */
@media (max-width:767px){

:root{
    --extralarge:20px;
    --xl:28px;
    --lg:20px;
    --md:14px;
}

header{
    padding:12px 18px;
}

.logo{
    width:120px;
}

h1{
    font-size:30px;
}

h2{
    font-size:24px;
}

.checkout-container{
    grid-template-columns:1fr;
    gap:30px;
    padding:20px;
}

.checkout-left{
    gap:30px;
}

.checkout-right{
    position:static;
}

.checkout-card,
.summary-card{
    padding:20px;
}

.input-grid{
    grid-template-columns:1fr;
}

.input-box,
.input-box.small,
.input-box.full{
    grid-column:1/-1;
}

.delivery-option{
    flex-direction:column;
    align-items:flex-start;
}

.payment-content{
    padding:14px;
}

.checkout-product{
    flex-direction:column;
    align-items:flex-start;
}

.checkout-product img{
    width:80px;
    height:80px;
}

.coupon-box{
    display: flex;
    gap: 10px;
}

.coupon-box button{
    width:100%;
    height:46px;
}

.delivery-info-box{
    flex-direction:column;
    text-align:center;
}

.secure-payment{
    flex-direction:column;
    text-align:center;
}

.place-order-btn{
    font-size:16px;
    height:50px;
}

.footer{
    padding:35px 20px;
}

.footer-container{
    grid-template-columns:1fr;
    gap:30px;
}

.footer-col{
    align-items:center;
    text-align:center;
}

.popup-box,
.payment-box,
.loader-box,
.success-box,
.pay-box{
    width:92%;
    padding:20px;
}

.two-input{
    flex-direction:column;
}

.card{
    width:100%;
    padding:30px 20px;
}

}



@media (max-width:480px){

header{
    padding:10px 15px;
}

.logo{
    width:100px;
}

h1{
    font-size:26px;
}

h2{
    font-size:22px;
}

.progress-wrapper{
    gap:10px;
    flex-wrap:wrap;
}

.line{
    width:35px;
}

.circle{
    width:28px;
    height:28px;
    font-size:13px;
}

.checkout-container{
    padding:15px;
}

.checkout-card,
.summary-card{
    padding:16px;
}

.input-box input,
.input-box select{
    height:44px;
    font-size:14px;
}

.payment-icon{
    width:40px;
    height:40px;
}

.payment-icon i{
    font-size:18px;
}

.item-img{
    width:70px;
    height:70px;
}

.place-order-btn{
    font-size:15px;
}

.footer{
    padding:30px 15px;
}

.footer-icons{
    justify-content:center;
}

.footer-bottom{
    font-size:13px;
}

.popup-box,
.payment-box,
.loader-box,
.success-box,
.pay-box{
    width:95%;
    padding:18px;
}



:root{
    --extralarge:20px;
    --xl:28px;
    --lg:20px;
    --md:14px;
}


h1{
    font-size:30px;
}

h2{
    font-size:24px;
}

h3{
    font-size:18px;
}

p{
    font-size:14px;
    line-height:1.6;
}


header{
    padding:12px 18px;
}

.logo{
    width:120px;
}


.progress-wrapper{
    flex-wrap:wrap;
    gap:10px;
}

.line{
    width:35px;
}

.progress-step span{
    font-size:12px;
}

.circle{
    width:28px;
    height:28px;
    font-size:13px;
}


.checkout-container{
    grid-template-columns:1fr;
    gap:30px;
    padding:20px;
}

.checkout-left{
    gap:30px;
}

.checkout-right{
    position:static;
}

.checkout-card,
.summary-card{
    padding:20px;
}


.input-grid{
    grid-template-columns:1fr;
    gap:18px;
}

.input-box,
.input-box.small,
.input-box.full{
    grid-column:1/-1;
}

.input-box label{
    font-size:14px;
}

.input-box input,
.input-box select{
    height:46px;
    font-size:14px;
}

.input-box.small i,
.input-box.full i{
    right:16px;
}


.delivery-option{
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
    padding:15px;
}

.delivery-price{
    align-self:flex-end;
}

.delivery-info h3{
    font-size:15px;
}

.delivery-info p{
    font-size:13px;
}


.payment-content{
    padding:14px;
    gap:12px;
}

.payment-icon{
    width:42px;
    height:42px;
}

.payment-icon i{
    font-size:18px;
}

.payment-text h4{
    font-size:15px;
}


.checkout-product{
    align-items:flex-start;
}

.checkout-product img{
    width:70px;
    height:70px;
}

.product-details h4{
    font-size:15px;
}

.product-details p{
    font-size:13px;
}

.product-price{
    font-size:16px;
}


.checkout-item{
    flex-direction:column;
}

.item-left{
    align-items:flex-start;
}

.item-img{
    width:80px;
    height:80px;
}

.item-bottom{
    flex-direction:column;
    align-items:flex-start;
    gap:6px;
}


.coupon-box{
    display: flex;
    gap: 10px;
}

.coupon-box button{
    width: 35%;
        height:52px;
}


.price-row.total{
    font-size:18px;
}


.delivery-info-box{
    flex-direction:column;
    text-align:center;
}


.secure-payment{
    flex-direction:column;
    text-align:center;
    gap:8px;
}


.place-order-btn{
    height:50px;
    font-size:16px;
}


.card{
    width:100%;
    padding:30px 20px;
            margin: 20px;
}

.card-icon{
    width:70px;
    height:70px;
}

.card-icon i{
    font-size:30px;
}

.continue-btn{
    width:100%;
    font-size:16px;
}


.popup-box,
.payment-box,
.loader-box,
.success-box,
.pay-box{
    width:92%;
    padding:20px;
    margin: 30px;
}

.two-input{
    flex-direction:column;
    gap:0;
}

.popup-btn,
.pay-btn,
.view-order-btn{
    font-size:16px;
}

.success-icon{
    width:70px;
    height:70px;
    font-size:40px;
}


.footer{
    padding:35px 20px;
}

.footer-container{
    grid-template-columns:1fr;
    gap:30px;
}

.footer-col{
    text-align:center;
    align-items:center;
}

.footer-col a,
.footer-col p{
    max-width:100%;
}

.footer-icons{
    justify-content:center;
}

.iframe{
    height:200px;
}

.footer-bottom{
    font-size:14px;
}


.border-line{
    width:100%;
}

}











