

*{
 margin:0;
 padding: 0;
 font-family: 'Poppins', sans-serif;

}
:root {
  --sm: 6px;
  --sd: 12px;
  --md: 16px;
  --lg: 24px;
  --xl: 40px;
  --xxl: 50px;
  --extralarge:110px;
  --primary: #22C55E;
  --light-primary:#22c55e83;
  --primary-dark: #15803d;
  --light:#e8f5e9;
  --yellow:#f4b400;
  --light-background: #f5f5f5;
  --gray:#4a5e55;
  --light-gray:#d3d3d3;
  --white: #ffffff;
  --text: #222;
  --text-light: #4b5563;
  --border: #e5e7eb;
  --shadow: 0 4px 12px rgba(0,0,0,0.08);
  --shadow-hover: 0 8px 24px rgba(0,0,0,0.15);
  --danger:red;
  --black:#000;
  --radius-sm:6px;
  --radius-md:10px;
  --radius-lg:16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  
   
    overflow-x: hidden;
    min-height: 100vh;
    background: none; 
  
}






h1 {
  font-size: 48px;
  font-weight: 700;
  
}

h2 {
  
   font-size: 36px; 
   line-height: 1.3; 
   margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
   margin-bottom: var(--md);
}

p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-light);
  line-height: 1.8;
}





header{
  position:fixed;
  background: var(--light);
  border-bottom: 1px solid var(--border);
  
  top:0;
    left:0;
    width:100%;
    z-index:1000;
 padding: var(--sd) var(--extralarge);
 box-shadow:var(--shadow);
  align-items:center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 0%;
}



.logo{

  width: 150px;
  height: auto;

}

nav{ 
display: flex;
   
gap: var(--xl);

}
nav a{
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
}
nav a:hover {
  color: var(--primary);
}
nav a.active{
    color: var(--primary);
    font-weight: bold;
    border-bottom: 2px solid var(--light-primary);
}






















.footer {
  background: var(--light);
 
   padding: 50px var(--extralarge) ;
  box-shadow: var(--shadow);
  
}




.footer-icons {
  display: flex;
 
  gap:var(--sd);
}

.footer-icons a {
  width: var(--xl);
  height: var(--xl);
  border-radius: 50%;
  background: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}

.footer-icons a i {
  font-size: var(--md);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer-icons a:hover {
    background: var(--primary);

 
}


.border-line {
  width: 80%;
  height: 2px;
  background: var(--border);
  margin: var(--md) auto;
}

.footer-container {
  display: grid;
 grid-template-columns: repeat(4,1fr);
  gap: var(--xl);
  align-items: start;
    
}



.footer-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  min-width: 0;
}

.footer-col h3 {

  color:var(--text);
    margin-bottom: var(--md);
}


.footer-col a,
.footer-col p {
  display: block;
 color:var(--text);
  text-decoration: none;
  margin-bottom: var(--sm);
  font-size: 16px;
 
  max-width: 230px;
  line-height: var(--lg);

}

.footer-col a:hover {
  color: var(--primary);
}


.iframe {
  width: 100%;
  height: 180px;
  border: 0;
  border-radius: var(--radius-md);
}

.footer-bottom {
  text-align: center;
  font-size:var(--md);
  color: var(--text);
   
}
.footer-bottom p{
    margin-bottom: 0px;
}
















.hero {
    position: relative;
    width: 100%;
    height: 621px;
    overflow: hidden;
    margin-top: 4%;
}


.hero > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slide.active {
    opacity: 1;
    z-index: 2;
}

.slide img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    display: block;
    z-index: 1;
}

.textonimage2 {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);

    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: var(--sm);

    max-width: 550px;
    padding: var(--lg);

    background: var(--light-background);
    border-radius: var(--radius-lg);
    backdrop-filter: blur(8px);
}

.textonimage2 h2 {
    margin-bottom: 0;
}

.textonimage2 p {
    color: var(--black);
    max-width: 500px;
    margin: 15px 0 20px;
}

.cta-button {
    width: max-content;
    padding: 10px var(--lg);

    background: var(--primary);
    color: var(--white);

    text-decoration: none;
    font-weight: 600;

    border-radius: 30px;
    box-shadow: var(--shadow);

    transition: all 0.3s ease;
}

.cta-button:hover {
    background: var(--primary-dark);
    transform: translateY(-2px);
}

.hero::after {
    display: none;
}




















.trust-section {
    text-align: center;
    padding: var(--extralarge) 0px;
    
     
}


.trust-line{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:var(--extralarge);
    position:relative;
    padding-top: 20px;
}




.trust-item img{
    width:120px;
    height:120px;
    object-fit:contain;
}



































.about-section {
    text-align: center;
    padding:  var(--extralarge) 0px;
  
    
    
}


.badge-container {
    display: flex;
    justify-content: center; 
    gap: 70px; 
    flex-wrap: wrap; 
padding-top: 20px;
}


.badge-item {
    width: 285px;
    padding: var(--md);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;  
    position: relative;
}

.badge-item::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 40%;
    height: 200%;

    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.25),
        transparent
    );

    transform: rotate(25deg);
    transition: all 0.6s ease;
}

.badge-item:hover::after {
    left: 120%;
}
.treat-img-box{
       
    overflow: hidden;           
    border-radius: 12px;
       margin-bottom: 10px;

}
.treat-img-box img{

    width: 100%;
    height: 100%;
    object-fit: cover;         
    transition: transform 0.4s ease;
}


.badge-item:hover .treat-img-box img{
    transform: scale(1.2);      
}



.icon{
  width:45px;
  height:45px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#eaf5ee;
  border-radius:12px;
}

.badge-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sm);
    margin-top: 10px;
    color:var(--primary);              
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
}


.badge-item a:hover{
    color:var(--primary-dark);
    transform: translateX(4px);
}


.badge-item a::after{
    content: "→";
    transition: 0.3s;
}

.badge-item a:hover::after{
    transform: translateX(4px);
}
.icon i{
  font-size:16px;
  color:var(--primary-dark);
}

.title-row{
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 10px;             
}
.title-row h3{
  margin-bottom: 0px;
}
.badge-item span {
    font-size: var(--md);
    font-weight: bold;
    color:var(--text);
    text-transform: uppercase; 
}
.wellness,
.weight,
.hair,
.diabetic,
.women-wellness {
    width: 100px;
    height: auto;
}























.faq-section {
    padding: var(--extralarge);
    background:var(--light-background);
}
.faq-section h2 {
    text-align: center;
    
}
.faq-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 60px;
    align-items: center;
    padding-top: 20px;
}
.faq-image {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.faq-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.faq-content h2 {
    margin-bottom: 30px;
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.faq-item {
    background: var(--white);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow);
    overflow: hidden;
    border: 1px solid var(--border);
    transition: 0.3s ease;
}

.faq-item:hover {
    transform: translateY(-3px);
}

.faq-question {
    list-style: none;
    cursor: pointer;
    padding: 22px 70px 22px 24px;

    font-size: 22px; 
    font-weight: 500;

    position: relative;
}


.arrow {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;

    color: var(--primary);
    transition: transform 0.35s ease;
}
.faq-item[open] .arrow {
    transform: translateY(-50%) rotate(180deg);
}

.faq-answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease;
}

.faq-answer p {
    overflow: hidden;
    padding: 0 24px;
}

.faq-item[open] .faq-answer {
    grid-template-rows: 1fr;
}

.faq-item[open] .faq-answer p {
    padding: 0 24px 24px;
}












.banner-content {
   position: absolute;
    top: 9%;
    right: 6%;
    width: 391px;
    padding: var(--lg);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    background: linear-gradient(#ffffff, #e4ede6);
    border-radius: var(--radius-lg);
    backdrop-filter: blur(8px);
}


.shop-btn {
    margin-top: 30px;

    display: inline-block;
    padding: 18px 42px;

    background: #5c9c28;
    color: #fff;

    text-decoration: none;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 600;

    transition: background 0.3s ease;
}

.shop-btn:hover {
    background: var(--primary-dark);
}




























.who-we-are{
      position: relative; 
  padding: 110px 110px 0px 110px;
  display: flex;
  align-items: center;
  gap: 60px;
}


.why-choose {
  position: relative; 
  padding: var(--extralarge);
  display: flex;
  align-items: center;
  gap: 60px;
}
/*
.why-choose::before {
  content: "";
  position: absolute;
  top: 60%;
  left: -30px; 
  transform: translateY(-50%);
  width: 450px;
  height: 450px;
  background: url("background.png") no-repeat center;
  background-size: contain;
  opacity: 0.2;
  pointer-events: none;
  z-index: -1; 
} */

.container{
  
    margin: auto;
    display: flex;
    align-items: center;
    
   
}

.text-content{
    flex: 6;
}



.image-content{
    flex: 4;
    text-align: right;
}

.image-content img{
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    object-fit: cover;
}








.left-image{
    flex: 4;
}

.left-image img{
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}


.right-content{
    flex: 6;
}





















.approach{

    text-align:center;
  padding: var(--extralarge);
  background: var(--light-background);
  
  transition: all 0.3s ease;
  cursor: pointer;
}
.approach-box{
    
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:60px;
    padding-top: 20px;
}



.item:hover {
  border: none;
     background: var(--primary-dark);
  color: var(--white);
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}
.item {
  position: relative; 
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #15803d70 ;

  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  height: 4px;
  background: var(--primary);
  width: 0;
  transition: width 1s ease-in-out;
}

.item::before {
  top: 0; 
  right: 0; 
}

.item::after {
  bottom: 0; 
  left: 0;  
}

.item span::before,
.item span::after {
  content: "";
  position: absolute;
  width: 4px;
  background: var(--primary);
  height: 0;
  transition: height 1s ease-in-out;
}

.item span::before {
  left: 0;  
  bottom: 0; 
}

.item span::after {
  right: 0; 
  top: 0;    
}

.item:hover::before {
  width: 100%; 
}
.item:hover::after {
  width: 100%; 
}
.item:hover span::before {
  height: 100%; 
}
.item:hover span::after {
  height: 100%; 
}

.item i {
    font-size: 48px;
    margin-bottom: 30px;
    color: var(--primary-dark);
    transition: transform 0.4s ease, color 0.3s ease;
}


.item:hover i,
.item:hover h3,
.item:hover p {
    color: var(--white);
}



.contact-info{
    padding:60px var(--extralarge);
    display:flex;
    justify-content:center;
    gap:80px;
    flex-wrap:wrap;
}

.info-box{
    width:220px;
    padding: var(--lg) var(--md);
  
    text-align:center;
    box-shadow: var(--shadow);
}

.info-box i{
    font-size:var(--lg);
    color:var(--primary);
    margin-bottom: var(--md);
}








































.team-section {
    
    padding: 110px ;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}




.section-title p {
    max-width: 650px;
    margin: auto;
   
}

.team-grid {
    display: grid;
    gap: 15px;
        padding: 0px 90px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

   
}

.Column1,
.Column2,
.Column3,
.Column4{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border:1px solid var(--border);
    margin: 16px;
    background-color: var(--light-background);
    border-radius: 120px;
}



.Column1 img,
.Column2 img,
.Column3 img,
.Column4 img {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px;
    
}
.doctor-info {
    padding: 0px 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doctor-info h3 {
    margin-bottom: 8px;
}

.doctor-info span {
    color:var(--primary-dark);
    
    margin-bottom: 15px;
}

.doctor-info p {
    line-height: 1.6;
    margin-bottom: 20px;
}



.doctor-info-top {
    padding: 30px 30px 0px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doctor-info-top h3 {
    margin-bottom: 8px;
}

.doctor-info-top span {
    color:var(--primary-dark);
    
    margin-bottom: 15px;
}

.doctor-info-top p {
    line-height: 1.6;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links a {
    color: #777;
    text-decoration: none;
}























.contact-main{
    padding:  var(--extralarge);
    display:flex;
   align-items:stretch;
gap: 40px;

}
.map-area{
     align-items:stretch;
gap: 40px;

}
.contact-form{
     align-items:stretch;
gap: 40px;

}



.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--xxl);
    
}

.form-row.single{
    grid-template-columns: 1fr;
    
}

.form-group{
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 14px 16px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.contact-form textarea{
    min-height: 100px;
    resize: vertical;
}

.contact-form button{
    width: fit-content;
    padding: 14px 30px;
    border: none;
    font-size: large;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary-dark);
    transition: 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--primary);
}

.form-group span{
    margin-top: 5px;
    font-size: 16px;
    color: var(--danger);
}












.category-section {
    text-align: center;
    padding: var(--extralarge);
     position: relative;
 
    
}
.category-section::before {
    content: "";
    position: absolute;
     left: -72px;
    top: 108%;
    width: 350px;
    height: 406px;
    background: url(images/background4.png) no-repeat center;
    background-size: contain;
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
    transform: translateY(-50%);
}


.category-container {
    margin-top: var(--lg);
    display: flex;
    justify-content: center;
    gap: var(--extralarge);
    flex-wrap: wrap;
    padding-top: 20px;
}

.category-item{
    position: relative;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 24px;
    cursor: pointer;

    background: rgba(255,255,255,.8);
    backdrop-filter: blur(10px);

    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    transition: all 0.4s ease;
}
.category-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.5s ease;
}



.category-item:hover{
    transform: translateY(-10px);
    box-shadow: var(--shadow);
}

.category-item:hover img{
    transform: scale(1.1);
}


.category-overlay{
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 24px;

    background: linear-gradient(
        to top,
        rgba(0,0,0,0.9) 10%,
        rgba(0,0,0,0.5) 60%,
        rgba(0,0,0,0.2) 100%
    );

    color: #fff;

    opacity: 0;
    transition: opacity 0.4s ease;
}

.category-item:hover .category-overlay{
    opacity: 1;
}



.category-overlay p{
    font-size: 16px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.92);
    text-shadow:var(--shadow);
}


.category-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    color:var(--primary);
    font-weight: 600;
    text-decoration: none;
}
.category-item:hover .category-link{
    gap: 10px;
}












.categories{
    padding:60px var(--extralarge);
    text-align:center;
}



.category-grid{
    margin-top: var(--md);
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}



.category-card{
    background: var(--light-background);
    border-radius:15px;
    overflow:hidden;
    box-shadow:var(--shadow);
    transition:0.3s;
    cursor:pointer;
    
}

.category-card:hover{
    transform:translateY(-6px);
}

.category-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}



















.sexual-wellness,
.hair-care{
    background-color: var(--light-background);
}



.bestseller,
.sexual-wellness,
.fitness,
.hair-care,
.skin-care{
    
    padding: var(--extralarge);
    text-align:center;
}


.section-header{
    position: relative;
    text-align: center;
}



.view-all{
    position: absolute;
    right: 0;
    top: 50%;
    color: var(--black);
    transform: translateY(-50%);
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
}
.view-all i {
    font-size: 16px;
    transition: transform 0.3s ease;
}

.view-all:hover i {
    transform: translateX(4px);
}


.slider-container{
    display:flex;
    align-items:center;
    gap:var(--lg); 
    overflow: hidden;
    position: relative;
    cursor:ew-resize ;
}

.product-slider{
    display:flex;
    gap: 40px;
    padding: 20px;
    width:100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    user-select: none;
}

.product-slider.dragging {
    scroll-behavior: auto;
}


.product-card img{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    object-fit: contain;
     pointer-events: none;
    user-select: none;
    transition: transform 0.4s ease;
}

.product-card:hover img{
    transform: scale(1.08);
}
.img-box{
    position:relative;
    overflow:hidden;
}



.hover-box{
    position:absolute;
    left:0;
    bottom:-100%;
    width:100%;
    background:var(--white);
    padding:var(--sd);
    display:flex;
    flex-direction:column;
    gap:var(--sd);
    transition:0.4s ease;
    border-radius:10px;
}

.product-card:hover .hover-box{
    bottom:0;
}

.qty-box{
    display:flex;
    justify-content:center;
    gap:6px;
}

.qty-box button{
    width:30px;
    height:30px;
    border:none;
    cursor:pointer;
    background:var(--white);
}


.cart-btn{
    flex: 1;
    height: 45px;
    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background: var(--primary);
    color: #fff;

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.3s ease;
}

.cart-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(34,197,94,0.25);
}
.prev,
.next{
    width: 60px;
    height: 60px;         
    
    border-radius: 50%;

    border: none;
    background: var(--primary);
    color: var(--white);
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
    
    flex-shrink: 0;

    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.prev i,
.next i {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
}



.prev:active,
.next:active {
  transform: scale(0.95);
}










.product-card{
    position: relative;
    text-align: center;

    min-width: 280px;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(18px);

    
    padding: 20px;

    box-shadow: var(--shadow);
    overflow: hidden;

    transition: all 0.4s ease;
}

.product-actions{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transform: translateY(80px);
    transition: 0.4s ease;
}

.product-card:hover .product-actions{
    transform: translateY(0);
}


.quantity-input{
    width: 55px;
    height: 42px;

    border: 2px solid #e5e7eb;
    border-radius: 10px;

    background: #fff;
    font-size: 16px;
    font-weight: 600;

    text-align: center;
    outline: none;

    transition: all 0.3s ease;
}

.quantity-input:focus{
    border-color: var(--primary);
    box-shadow: var(--shadow);
}





.wish-btn,
.view-btn{
    position: absolute;
    right: 15px;

    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255,255,255,0.95);
    color: #555;
    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0,0,0,0.12);

    opacity: 0;
    transform: translateX(20px) scale(0.8);

    transition: all 0.3s ease;
    z-index: 2;
}

.wish-btn{
    top: 10px;
}

.view-btn{
    top: 65px;
}

.wish-btn i,
.view-btn i{
    font-size: 16px;
    transition: transform 0.3s ease;
}

.wish-btn:hover,
.view-btn:hover{
    background: var(--primary);
    color:var(--whiteae);
    box-shadow: 0 10px 25px rgba(34, 197, 94, 0.3);
}

.wish-btn.active{
    background: var(--primary);
    color: #fff;
}

.wish-btn.active i{
    color: #fff;
    transform: scale(1.15);
}
.wish-btn:hover i,
.view-btn:hover i{
    transform: scale(1.15);
}

.product-card:hover .wish-btn{
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.05s;
}

.product-card:hover .view-btn{
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.15s;
}










.products{
    padding:60px var(--extralarge);
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:50px;
}







.rating{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3px;
    margin-bottom:12px;
}

.rating i{
    color:var(--yellow);
    font-size:16px;
}

.rating span{
    color:#666;
    margin-left:5px;
}

.price{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom: var(--xxl);
}

.price del{
    color:#888;
}

.new-price{
    font-size: 22px;
    font-weight: 700;
    color: var(--primary);
}

.discount{
    background: #dcfce7;
    color: var(--primary);

    border: none;
    padding: 5px 10px;

    font-size: 16px;
    font-weight: 600;

    border-radius: 999px;
}
























.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;

    background: rgba(0, 0, 0, 0.6);

    justify-content: center;
    align-items: center;
    cursor: auto;
    padding: 20px;
}

.modal-content {
    background: #fff;
    width: 90%;
    max-width: 800px;

    border-radius: 20px;
    padding: 30px;

    position: relative;
}

.modal-body {
    display: flex;
    align-items: center;
    gap: 40px;
}

.modal-left,
.modal-right {
    flex: 1;
}

.modal-left {
    display: flex;
    justify-content: center;
}

.modal-left img {
    width: 100%;
    max-width: 300px;
    height: 300px;

    object-fit: contain;
}

.modal-right h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

#modalRating,
#modalPrice {
    width: 100%;
}

#modalRating {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 15px 0;
}

#modalPrice {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 12px;
    margin-bottom: 30px;
}
.modal-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

#modalQty {
    width: 80px;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 20px;

    font-size: 32px;
    cursor: pointer;
}




























.contact-section {
 
  padding: 110px 110px 0px 110px;

  position: relative;
}


.contact-section::before {
  
  content: "";
    position: absolute;
    right: 0px;
    top: 104%;
    transform: translateY(-50%);
    width: 700px;
    height: 538px;
    background: url(images/background.png) no-repeat center;
    background-size: contain;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}



.contact-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.contact-item {
    text-align: center;
    padding: 35px 20px;
    position: relative;

   
    border-radius: var(--radius-lg);

    transition: transform 0.3s ease,
                box-shadow 0.3s ease,
                background-color 1s ease-in-out;
}
.contact-item a{
    color: inherit;
    text-decoration: none;
}

.contact-item a:hover{
    color: var(--primary-dark);
    text-decoration: underline;
}
.icon-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: var(--xl);

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle {
  width: 100px;
  height: 100px;
  background: #E8F5E9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.icon-circle i {
  font-size: 36px;
  color: var(--primary-dark);
}

.icon-circle::before,
.icon-circle::after {
  content: '';
  position: absolute;
  border: 1px solid #C8E6C9;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease; 
}

.icon-wrapper:hover .icon-circle::before,
.icon-wrapper:hover .icon-circle::after {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}
.icon-circle::before {
  width: 120px;
  height: 120px;
}

.icon-circle::after {
  width: 140px;
  height: 140px;
}
.contact-item:hover .icon-circle {
  background: var(--primary-dark); 
}

.contact-item:hover .icon-circle i {
  color:#E8F5E9;
}

.icon-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #22A45D;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 3;

  transform: translate(-50%, -50%) rotate(0deg) translateX(50px) rotate(0deg);
  animation: orbit 4s linear infinite;
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%)
               rotate(0deg)
               translateX(50px)
               rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%)
               rotate(360deg)
               translateX(50px)
  }
}

.contact-item h3 {
  
 
  color:var(--primary-dark);
 
  position: relative;

}

.contact-item h3::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background: #22A45D;
}



























 










.treat-section{
  padding:80px 20px;
  display:flex;
  justify-content:center;
}

.treatcontainer{
  max-width:1200px;
  width:100%;
}



.tag{
  color:#2e7d32;
  font-weight:600;
  letter-spacing:2px;
  font-size:16px;
}

































